/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

 nav ul a,
 nav .brand-logo {
   color: #444;
 }
 
 p {
   line-height: 2rem;
 }
 
 .sidenav-trigger {
   color: #26a69a;
 }
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }

 .parallax-container .section {
     width: 100%;
   }
 



 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }

 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
footer.page-footer {
   margin: 0;
 }

/*  about page */

.side-box-div{
  width: 50%;
}

#div-img {
  /* background-color: yellow; */
  float: left;
}

#img-about{
  height: 550px;
  
}

.div-img2{
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 40px;
}


.ct-img{
  max-width: 100%;

}

#div-text {
  /* background-color: blue; */
  float: right;
}

.div-text2{
  align-items: center;
  align-content: center;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0%;
  padding-bottom: 10%;
}

#about-heading{
  text-align: left;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }


  /* about */
  .side-box-div{
    width: 100%;
  }

  #div-img {
    float: center;
  }

  #img-about{
    height: auto;
    
  }
  
  .div-img2{
    padding: 0px;
  }

.div-text2{
  text-align: left;
}

#about-heading{
  text-align: center;
}



}