{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="expires" content="0">
  <link rel="shortcut icon" href="{% static 'images/runing.svg' %}">
  <title>Incessant Private Ltd</title> 
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- CSS  -->
  <link href="{% static 'css/materialize32.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="{% static 'css/incessant.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />

  <!-- js -->
  

</head>

<body>

  <!-- navbar -->
  <nav class="teal lighten-2">
    <div class="nav-wrapper container">
      <a href="{% url 'childapp:frontpage' %}" class="brand-logo white-text"><img style="height: 45px; width: 231px; position: absolute; max-width: 257px; left: 0px;" src="{% static 'images/runing.svg' %}" alt="logo">Incessant</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'childapp:aboutapp' %}" class="white-text">About</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'childapp:carear' %}" class="white-text">Carear</a></li>
        <li><a href="{% url 'childapp:contactUs' %}" class="white-text">Contact Us</a></li>
        <li><a href="{% url 'childapp:eCategories' %}" class="white-text">Email</a></li>
        <li><a href="#" class="white-text">{{user.username}}</a></li>
        <li><a href="{% url 'childapp:logout_request' %}" class="white-text">Logout</a></li>
        {% else %}

        <li><a href="{% url 'childapp:carear' %}" class="white-text">Carear</a></li>
        <li><a href="{% url 'childapp:contactUs' %}" class="white-text">Contact Us</a></li>
        <li><a href="{% url 'childapp:login_request' %}" class="white-text">Login</a></li>
        {% endif %}

      </ul>
    </div>
  </nav>


  <ul class="sidenav teal lighten-3" id="mobile-demo">
    <li><a href="{% url 'childapp:aboutapp' %}" class="white-text">About</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'childapp:carear' %}" class="white-text">Carear</a></li>
    <li><a href="{% url 'childapp:contactUs' %}" class="white-text">Contact Us</a></li>
    <li><a href="{% url 'childapp:eCategories' %}" class="white-text">Email</a></li>
    <li><a href="#" class="white-text">{{user.username}}</a></li>
    <li><a href="{% url 'childapp:logout_request' %}" class="white-text">Logout</a></li>
    {% else %}

    <li><a href="{% url 'childapp:carear' %}" class="white-text">Carear</a></li>
    <li><a href="{% url 'childapp:contactUs' %}" class="white-text">Contact Us</a></li>
    <li><a href="{% url 'childapp:login_request' %}" class="white-text">Login</a></li>
    {% endif %}
  </ul>
  {% block content %}
  replace me
  {% endblock %}

  <!-- footer      -->
  <footer class="page-footer teal lighten-2">

    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <!-- <h5 class="white-text">Incessant</h5> -->
          <span><img class="footer-logo" src="{% static 'images/runing.svg' %}" alt="logo"></span>

          <p class="grey-text text-lighten-4">Born and raised in a Hindu family in
            coastal Gujarat, western India, Gandhi trained in law at the Inner Temple,
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <!-- <h5 class="white-text">Get_in_Touch</h5> -->
          <ul>
            <li><a class="grey-text text-lighten-3" href="{% url 'childapp:contactUs' %}">Contact Us</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">8395762845</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">something@incessant.com</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2020 Incessant Private Ltd
      </div>
    </div>
  </footer>

  <!--  Scripts -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('.sidenav').sidenav();
    });

    $('.carousel.carousel-slider').carousel({
      fullWidth: false,
      indicators: true,
      duration: 200,
      noWrap: true
    });

    $('#textarea1').val('');
    M.textareaAutoResize($('#textarea1'));

    $(document).ready(function () {
      $('input#mob, input#message').characterCounter();
    });

    $(document).ready(function () {
      $('.materialboxed').materialbox();
    });

  </script>
  {% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success'%}
      <script>M.toast({ html: "{{message}}", classes: 'green rounded', displayLength: 2000 });</script>
    {% elif message.tags == 'info'%}
      <script>M.toast({ html: "{{message}}", classes: 'blue rounded', displayLength: 2000 });</script>
    {% elif message.tags == 'warning'%}
      <script>M.toast({ html: "{{message}}", classes: 'orange rounded', displayLength: 10000 });</script>
    {% elif message.tags == 'error'%}
      <script>M.toast({ html: "{{message}}", classes: 'red rounded', displayLength: 10000 });</script>
    {% endif %}
  {% endfor %}
  {% endif %}
</body>

</html>