<!DOCTYPE html>
<html>
  <head>
    <title>Incessant Private Ltd</title>
    {% load static %}
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </head>
  <body>

  <!-- navbar -->
    <nav class="blue lighten">
      <div class="nav-wrapper container">
        <a href="{% url 'childapp:frontpage' %}" class="brand-logo">Incessant</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'childapp:aboutapp' %}">About</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'childapp:signUp' %}">{{user.username}}</a></li>
          <li><a href="{% url 'childapp:logout_request' %}">Logout</a></li>
          <li><a href="{% url 'childapp:carear' %}">Carear</a></li>
          <li><a href="{% url 'childapp:contactUs' %}">Contact Us</a></li>
          <li><a href="{% url 'childapp:blog' %}">Blog</a></li>
          {% else %}
          <li><a href="{% url 'childapp:signUp' %}">SignUp</a></li>
          <li><a href="{% url 'childapp:login_request' %}">Login</a></li>
          <li><a href="{% url 'childapp:carear' %}">Carear</a></li>
          <li><a href="{% url 'childapp:blog' %}">Blog</a></li>
          <li><a href="{% url 'childapp:contactUs' %}">Contact Us</a></li>
          {% endif %}

        </ul>
      </div>
  </nav>

  {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
            <script>M.toast({html: "{{message}}", classes: 'green rounded', displayLength:2000});</script>
        {% elif message.tags == 'info'%}
            <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
        {% elif message.tags == 'warning'%}
            <script>M.toast({html: "{{message}}", classes: 'orange rounded', displayLength:10000});</script>
        {% elif message.tags == 'error'%}
            <script>M.toast({html: "{{message}}", classes: 'red rounded', displayLength:10000});</script>
        {% endif %}
    {% endfor %}
  {% endif %}

  <ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'childapp:aboutapp' %}">About</a></li>
    <li><a href="{% url 'childapp:services' %}">Services</a></li>
    <li><a href="{% url 'childapp:carear' %}">Carear</a></li>
    <li><a href="{% url 'childapp:contactUs' %}">Contact Us</a></li>
  </ul>
    {% block content %}
      replace me
    {% endblock %}

  </body>


  <!-- ///////////footer  ///////////        -->
  <footer class="page-footer blue lighten ">

    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Incessant</h5>
          <p class="grey-text text-lighten-4">Born and raised in a Hindu family in
            coastal Gujarat, western India, Gandhi trained in law at the Inner Temple,
            London, and was called to the bar at age 22 in June 1891.
            After two uncertain years in India, where he was unable to start a successful
            law practice, he moved to South Africa
            in 1893 to represent an Indian merchant in a lawsuit.
            He went on to stay for 21 years</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Contacts</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">phone no</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">email</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Incessant Private Ltd
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
  <script>
    $(document).ready(function(){
    $('.sidenav').sidenav();
    });

    $('.carousel.carousel-slider').carousel({
    fullWidth: false,
    indicators: true,
    duration: 200,
    noWrap: true
    });

    $('#textarea1').val('');
    M.textareaAutoResize($('#textarea1'));

    $(document).ready(function() {
    $('input#mob, input#message').characterCounter();
    });

    $(document).ready(function(){
    $('.materialboxed').materialbox();
    });

  </script>
</html>
