{% extends 'childapp/base.html' %}
{% block content %}
  {% load static %}
  <img class="materialboxed" width="" src="{% static 'images/background1.jpg' type='img/jpg' %}">
  <div class="container">
    <div class="row">
      {% for p in post %}
        <div class="col s12 m4 l4">
          <div class="card small blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{p.title|safe}} </span>
              <p style="font-size:70%">{{p.date_published|safe}}</p>
              <p>{{p.draft|safe}}</p>
            </div>
            <div class="card-action">
              <a href="{% url 'childapp:single' p.sno %}">Read</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}

