{% extends 'childapp/base.html' %}
{% block content %}
  {% load static %}

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Zazen</h1>
      </div>
    </div>
    <div class="parallax"><img width="100%" height="auto" src="{% static 'images/16.jpg' %}" alt="Unsplashed background img 1"></div>
  </div>
  <br>
  <div class="container">
    {% for c in eques %}
    <div class="row mail-stack shadow-box2">
      <div>
        <div class="mail-stack-email">
          <a href="{% url 'childapp:eQdetails' c.que_s_no %}">
            <span class="card-title">{{c.email|safe}} </span> 
          </a>
        </div>
        <div class="mail-stack-body">
          <span class="card-title">{{c.que|safe}} </span> 
        </div>
      </div> 
    </div>     
    {% endfor %}
  </div>  

  

{% endblock %}