{% extends 'childapp/base.html' %}

{% block content %}
  {% load static %}
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Helping Solutions</h1>
        <div class="row center">
          <h5 class="header col s12 light">need to fund your mission in one solution</h5>
        </div>
<!--        <div class="row center"> -->
<!--          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>-->
<!--        </div> -->
<!--        <br><br> -->

      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/7.jpg' %}" alt="Unsplashed background img 1"></div>
  </div>
<!-- image_1 end -->

<!-- our services section-->
  <div class="container">
      <div class="section">
      <h2 class="center-align"> Our Services </h2>
      <div class="row">
        <div class="col s12 m4 offset-l4"><hr></div>
      </div>

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center teal-text text-lighten-2"><i class="material-icons">assignment</i></h2>
              <h5 class="center">We Provide Solutions</h5>

              <p class="light">hat incorporate our custom components. Additionally</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center teal-text text-lighten-2"><i class="material-icons">all_inclusive</i></h2>
              <h5 class="center">Impowering with AI</h5>

              <p class="light">aw at the Inner Temple, London, and was called to the bar at age 22 in June 1891. After two uncertain years in</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center teal-text text-lighten-2"><i class="material-icons">audiotrack</i></h2>
              <h5 class="center">Gaana Tarana</h5>

              <p class="light">ell as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
            </div>
          </div>
        </div>

      </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/4.jpeg' %}" alt="Unsplashed background img 2"></div>
  </div>


<!-- About_Us section-->
  <section>
    <h2 class="center-align"> About Us </h2>
    <div class="row">
      <div class="col s4 m4 l4 offset-l4"><hr></div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <img src="{% static 'images/2.jpg' type='img/jpg'%}"  class="responsive-img">
      </div>
      <div class="col s12 m6">
        <h4>we create solutions</h4>
        <p>but I think I now understand how … Continue reading
          "Image Slider with Sliding Animation in HTML and CSS only"</p>
      </div>
    </div>
  </section>

<!--  image three-->
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/8.jpg' %}" alt="Unsplashed background img 3"></div>
  </div>


{% endblock %}
