<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <style>
        .side-box-div {
            width: 50%;
        }

        #div-img {
            background-color: yellow;
            float: left;
        }

        #div-text {
            background-color: blue;
            float: right;
        }
    </style>
    <title>fry</title>
</head>

<body>
    <div>
        <!-- images -->
        <div id="div-img" class="side-box-div">
            <p>this is images</p>
        </div>
        <!-- text -->
        <div id="div-text" class="side-box-div">
            <p>this is text</p>
        </div>
    </div>

</body>

</html>