{% extends 'childapp/base.html' %}

{% block content %}
  {% load static %}
  <link href="{% static 'css/login-style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <main>
        <div class="background">
            <div class="text">
                <h1>Login</h1>
                <p>No Account? <a href="#">Sign up</a></p>
            </div>
            <div class="box">
                <form class="col s12 m6 l6" method="POST" action="{% url 'childapp:login_request' %}">
                  {% csrf_token %}
                  <div class="row">
                    <div class="input-field">
                      <input id="loginusername" name="loginusername" type="text" class="validate" placeholder="User Name">
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field">
                      <input id="loginpassword" type="password" name="loginpassword" class="validate"
                             placeholder="Password">
                    </div>
                  </div>
            <!--      submit botton -->
                  <button class="btn waves-effect waves-light" type="submit" value="login" name="loginbtn">Login
                    <i class="material-icons right">login</i>
                  </button>

                </form>
            </div>
        </div>
    </main>
{% endblock %}