{% extends 'childapp/base.html' %}

{% block content %}
  {% load static %}
  <h2 class="center-align"> Login </h2>
    <div class="row">
      <div class="col s12 m4 offset-l4"><hr></div>
    </div>
  <div class="row">
  <div class="container">


    <form class="col s12 m6 l6" method="POST" action="{% url 'childapp:login_request' %}">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <input id="loginusername" name="loginname" type="text" class="validate">
          <label for="loginusername">User Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m12 l12">
          <input id="loginpassword" type="password" name="loginpassword" class="validate">
          <label for="loginpassword">Password</label>
        </div>
      </div>
<!--      submit botton-->
      <button class="btn waves-effect waves-light" type="submit" value="login" name="loginbtn">Submit
        <i class="material-icons right">send</i>
      </button>

    </form>

  </div>
  </div>
{% endblock %}
